
<div id="<%= dom_id partner %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <h2><%= partner.name %></h2>
    <h4> posted by <%= partner.user%></h4>
    
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Address:</strong>
    <%= partner.address %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">City:</strong>
    <%= partner.city %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this partner", partner, remote: true, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to 'Edit this partner', edit_partner_path(partner), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
